<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer.mapper">

<delete id="delete">
	delete from customer where id = #{id}
</delete>

<update id="update">
	update customer 
	set gender = #{gender}, email = #{email}
		, phone= #{phone}
	where id = #{id}
</update>

<select id="detail" resultType="customer.CustomerVO">
	select * from customer where id = #{id}
</select>

<insert id="insert">
	insert into customer(name, gender, email, phone)
	values ( #{name}, #{gender}, #{email}, #{phone} )
</insert>

<select id="list" resultType="customer.CustomerVO">
	select * from customer
	where name like '%'|| #{search ,  jdbcType=VARCHAR} ||'%'
	or email like '%'|| #{search ,jdbcType=VARCHAR} ||'%'
	or phone  like '%'|| #{search ,jdbcType=VARCHAR} ||'%'
	order by name
</select>


</mapper>
